/* @import url('https://fonts.cdnfonts.com/css/satoshi'); */
/* @import url('https://fonts.cdnfonts.com/css/satisfy'); */
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import 'tailwindcss';
@import url('../fonts/satoshi/css/satoshi.css');
@import url('../fonts/satisfy/css/satisfy.css');

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --navbar-background: #fff6f5;
  --primary: #015d82;
}

@theme inline {
  --font-satoshi: 'Satoshi', sans-serif;
  --font-satisfy: 'Satisfy', sans-serif;
  --font-sf-pro: 'SF Pro Display', sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-navbar-background: var(--navbar-background);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', sans-serif;
}

.text-body {
  @apply text-[16px] sm:text-[18px];
}

.section-heading {
  @apply text-[44px];
}
