@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/satisfy');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import 'tailwindcss';
/* @import url('../fonts/satoshi/css/satoshi.css'); */
/* @import url('../fonts/satisfy/css/satisfy.css'); */

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
  --navbar-background: #fff6f5;
  --primary: #015d82;
  --neutral-300: oklch(55.8% 0.009 286.1);
  --stroke-100: #f6f6f7;
}

@theme inline {
  --font-satoshi: 'Satoshi', sans-serif;
  --font-satisfy: 'Satisfy', sans-serif;
  --font-sf-pro: 'SF Pro Display', sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-navbar-background: var(--navbar-background);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', sans-serif;
  @apply text-[14px] sm:text-[18px];
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--stroke-100);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--neutral-300);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--neutral-400);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-300) var(--stroke-100);
}

.text-body {
  @apply text-[16px] sm:text-[18px];
}

.section-heading {
  @apply text-[44px];
}
